extends ../layout

block content
  unless error
    div(id='map' style='height: 80vh;')
    div(class='row')

    div(id="msModal" class="modal fade" role="dialog")
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            h4 Define parameters of the Presentation
          .modal-body
            form-group
              .row
                label(for="checkms" class="col-lg-8") Do you want to enable Autoplay?
                .col-lg-4
                  input(class="form-control" type="checkbox" id="checkms")
              div(class="row" style="margin-top:5px")
                label(for="inputms" class="col-lg-8") How many seconds do you want Autoplay to pause?
                .col-lg-4
                  input(class="form-control" id="inputms" value="3" disabled)
          .modal-footer
            .text-center
              button(class="btn btn-default" data-dismiss="modal" onclick='setShowLenghtAndStartAnimation()') Start
    div(id='playmodal' class='playmodal' style='display: block' onclick='clearTimeout(currentTimeOut); currentResolve();')
      img(class='playmodal-content' id='img0' style='display: none')
      img(class='playmodal-content' id='img1' style='display: none')
      img(class='playmodal-content' id='img2' style='display: none')
      img(class='playmodal-content' id='img3' style='display: none')
      img(class='playmodal-content' id='img4' style='display: none')
    script(type='text/javascript').
        var locations = !{JSON.stringify(album.images)};
    script(type='text/javascript' src="/js/playFrontend.js")




  //TODO Client API Key has to be Restricted after development is finished
  script(type='text/javascript' src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBu_4PKulFGlZtAB10E-ekucVFzm2KzSxk&callback=initMap" async defer)
  script(type='text/javascript' src='https://apis.google.com/js/client.js?onload=onApiLoad')