div(id="alert")
  if error
    .alert.alert-danger.fade.in
      button.close(type='button', data-dismiss='alert')
        i.fa.fa-times-circle-o
      div= error
  if warning
    .alert.alert-warning.fade.in
      button.close(type='button', data-dismiss='alert')
        i.fa.fa-times-circle-o
      div= warning
  if info
    .alert.alert-info.fade.in
      button.close(type='button', data-dismiss='alert')
        i.fa.fa-times-circle-o
      div= info
  if success
    .alert.alert-success.fade.in
      button.close(type='button', data-dismiss='alert')
        i.fa.fa-times-circle-o
      div= success
script(type="text/javascript").
  //Removing Warnings after 20 seconds if user does not click them away
  $("#alert").ready().delay(20000).fadeOut();
