extends layout

block content
  h1 TravelPresenter
  p.lead A Travel Presenting Application.
  hr
  .row
    .col-sm-12
      p TravelPresenter enables you to create animated slideshows illustrating your travels.
      p To this end, you log in using your google credentials, to provide access to your google drive.
      | When clicking on 'New Creation' or on the plus sign can choose the photos you want to combine from your google
      | drive. If these photos have a geographic location, it is imported from google drive, and displayed on a map.
      | You can manually delete, move, or add locations on the map in this step. Presentations can only be played,
      | once all their photos have a geographic location added. Once your presentation is finished, you can either play
      | it, or change to 'Your Presentations' and click on the 'Share' button next to your presentation to make it
      | avaliable by a link. This link will be pasted to your clipboard, so you can send it to friends. If you need
      | the link again, just click the 'Share' button again, and it will be copied to your clipboard again.
      | If you dont want the presentation to be shared anymore, you can click on the 'Unshare' Button next to it.


