extends ../layout

block content

    h3 Image Picker
    form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)

    script(type='text/javascript').
        var oauthToken = '#{accessToken}';
    script(type='text/javascript' src="../js/imagesFrontend.js")
    script(type='text/javascript' src='https://apis.google.com/js/api.js?onload=onApiLoad')
