extends ../layout

block content

    h3 Image Picker
    form.form-horizontal(method='POST')
        input(type='hidden', name='_csrf', value=_csrf)

    script(type='text/javascript').
        //The Browser API key obtained from the Google API Console.
        var developerKey = 'AIzaSyBu_4PKulFGlZtAB10E-ekucVFzm2KzSxk';

        console.log("in images js");

        // The Client ID obtained from the Google API Console. Replace with your own Client ID.
        var clientId = '569072057508-jprgcdgfk6lcs2g4m0ieqftsrniuin5d.apps.googleusercontent.com'

        // Scope to use to access user's photos.
        var scope = ['https://www.googleapis.com/auth/drive.photos.readonly']; //https://www.googleapis.com/auth/photos      https://www.googleapis.com/auth/drive.photos.readonly	View the photos, videos and albums in your Google Photos

        var pickerApiLoaded = false;
        var oauthToken;

        // Use the API Loader script to load google.picker and gapi.auth.
        function onApiLoad() {
            console.log("onApiLoad called");
            gapi.load('auth', {'callback': onAuthApiLoad});
            gapi.load('picker', {'callback': onPickerApiLoad});
        }

        function onAuthApiLoad() {
            console.log("onAuthApiLoad called");
            window.gapi.auth.authorize(
                {
                    'client_id': clientId,
                    'scope': scope,
                    'immediate': false
                },
                handleAuthResult);
        }

        function onPickerApiLoad() {
            console.log("onPickerApiLoad called");
            pickerApiLoaded = true;
            createPicker();
        }

        function handleAuthResult(authResult) {
            console.log("handleAuthResult called");
            console.log(authResult);
            if (authResult && !authResult.error) {
                oauthToken = authResult.access_token;
                createPicker();
            }
        }

        // Create and render a Picker object for picking user Photos.
        function createPicker() {
            console.log("createPicker called");
            if (pickerApiLoaded && oauthToken) {  //google.picker.ViewId.PHOTOS  --> all photos in their albums        DOCS_IMAGES --> all photos in gdrive
                var picker = new google.picker.PickerBuilder().addView(google.picker.ViewId.DOCS_IMAGES)
                    .setOAuthToken(oauthToken).setDeveloperKey(developerKey)
                    .enableFeature(google.picker.Feature.MULTISELECT_ENABLED).setCallback(pickerCallback).build();
                picker.setVisible(true);
            }
        }

        // A simple callback implementation.
        function pickerCallback(data) {
            var url = 'nothing';
            if (data[google.picker.Response.ACTION] == google.picker.Action.PICKED) {
                var docs = data[google.picker.Response.DOCUMENTS];
                var urls = [];
                for (i = 0; i < docs.length; i++) {
                    console.log(docs[i]);
                    urls.push(docs[i][google.picker.Document.NAME]);
                }

                //console.log("urls " + urls);

                var form = document.forms[0];
                //form.setAttribute("method", "post");
                //form.setAttribute("action", "/drive/images");

                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", "pickerresults");
                hiddenField.setAttribute("value", urls); //data[google.picker.Response.DOCUMENTS][0]
                form.appendChild(hiddenField);

                //    var csrfField = document.createElement("input");
                //    csrfField.setAttribute("type", "hidden");
                //    csrfField.setAttribute("name", "_csrf");
                //    csrfField.setAttribute("value", '_csrf');
                //    form.appendChild(csrfField);
                
                document.body.appendChild(form);
                form.submit();


            }
            console.log('You picked: ' + url);

        }

    script(type='text/javascript' src='https://apis.google.com/js/api.js?onload=onApiLoad' )
